body {
	font-family: Helvetica, sans-serif;
	font-size: 15px;
	background-color: #0b1d28;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
	-o-user-select:none;
}

canvas {
	background-color: #000013;
	border-radius: 2px;
	border-style: solid;
	border-width: 2px;
	border-color: #00001a;
}

.settingsBallDiv {
	background-color: #373d48;
	border-radius: 2px;
}

label, output {
	border-radius: 2px;
	border-width: 2px;
	border-style: solid;
	border-color: #000013;
	background-color: #000013;
	font-weight: bold;
	text-align: center;
	color: #373d48;
}


input[type=range] {
	-webkit-appearance: none;  /* Override default CSS styles */
	-moz-appearance: none;
  appearance: none;
  outline: none;
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
	-moz-transition: .2s;
  transition: opacity .2s;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	margin-top: -0.625em;
	box-sizing: border-box;
	border: solid;
	border-width: 0.1em;
	width: 10px;
	height: 20px;
	border-radius: 30%;
	background: #373d48;
	cursor: pointer;
}

input[type=range]::-moz-range-thumb {
	width: 10px;
	height: 20px;
	border-radius: 30%;
	background: #373d48;
	cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
	box-sizing: border-box;
  border: none;
	width: 94%;
  height: 5px;
	background: #ffffff;
}

input[type=range]::-moz-range-track {
	box-sizing: border-box;
  border: none;
	width: 94%;
  height: 5px;
	background: #ffffff;
}

input[type=button] {
	-webkit-appearance: none;  /* Override default CSS styles */
	-moz-appearance: none;
	border-radius: 20px;
	border-width: 2px;
	border-style: solid;
	border-color: #000013;
	background-color: #000013;
	font-weight: bold;
	text-align: center;
	color: #373d48;
}

input[type=button]:hover {
	color: #ffffff;
}
